gelaba/gml/gml.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  NOTE: this DTD has attributes with default values.
  The generated DTD from the GML definition has not.
  The implementation of tools using GML definitions should
  not assume that the DTD is present and then, those values
  are just defined for convenience. The normative version of the
  GML definition is 'gml.xml'.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.gelaba.org/gml/1.1" xmlns:gml="http://www.gelaba.org/gml/1.1">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="definitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:namespace"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:definition"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:dict"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:property"/>
      </xs:sequence>
      <xs:attribute name="language" use="required"/>
      <xs:attribute name="default_ns_prefix"/>
      <xs:attribute name="version"/>
      <xs:attribute name="default_root"/>
      <xs:attribute ref="xml:lang" default="en"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="namespace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:fullname"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="ns_prefix" use="required"/>
      <xs:attribute name="href" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="definition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:fullname"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
        <xs:element ref="gml:element_type"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:attribute"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:property"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="namespace"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="element_type">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="gml:sequence"/>
        <xs:element ref="gml:choice"/>
        <xs:element ref="gml:empty"/>
        <xs:element ref="gml:basic_int"/>
        <xs:element ref="gml:basic_float"/>
        <xs:element ref="gml:basic_date"/>
        <xs:element ref="gml:basic_text"/>
        <xs:element ref="gml:basic_name"/>
        <xs:element ref="gml:basic_key"/>
        <xs:element ref="gml:basic_data"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="sequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="gml:element"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="element">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="min" default="1"/>
      <xs:attribute name="max" default="1"/>
      <xs:attribute name="namespace"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="choice">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="gml:choice_element"/>
      </xs:sequence>
      <xs:attribute name="min" default="1"/>
      <xs:attribute name="max" default="1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="choice_element">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="namespace"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="empty">
    <xs:complexType/>
  </xs:element>
  <xs:element name="basic_int">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="vmin"/>
      <xs:attribute name="vmax"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="basic_float">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="vmin"/>
      <xs:attribute name="vmax"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="basic_date">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="vmin"/>
      <xs:attribute name="vmax"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="basic_text">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="lgmin" default="0"/>
      <xs:attribute name="lgmax" default="0"/>
      <xs:attribute name="regexp"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="basic_name">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="lgmin" default="0"/>
      <xs:attribute name="lgmax" default="0"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="basic_key">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="ref" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="basic_data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:fullname"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
        <xs:element ref="gml:attribute_type"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:property"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="default"/>
            <xs:enumeration value="fixed"/>
            <xs:enumeration value="optional"/>
            <xs:enumeration value="required"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_type">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="gml:attribute_int"/>
        <xs:element ref="gml:attribute_float"/>
        <xs:element ref="gml:attribute_date"/>
        <xs:element ref="gml:attribute_text"/>
        <xs:element ref="gml:attribute_name"/>
        <xs:element ref="gml:attribute_key"/>
        <xs:element ref="gml:attribute_embedded_key"/>
        <xs:element ref="gml:attribute_id"/>
        <xs:element ref="gml:attribute_idref"/>
        <xs:element ref="gml:attribute_data"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_int">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="vmin"/>
      <xs:attribute name="vmax"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_float">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="vmin"/>
      <xs:attribute name="vmax"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_date">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="vmin"/>
      <xs:attribute name="vmax"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_text">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="lgmin" default="0"/>
      <xs:attribute name="lgmax" default="0"/>
      <xs:attribute name="regexp"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_name">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="lgmin" default="0"/>
      <xs:attribute name="lgmax" default="0"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_key">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="ref" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_embedded_key">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="ref" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="lgmin" default="0"/>
      <xs:attribute name="lgmax" default="0"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_idref">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
      <xs:attribute name="lgmin" default="0"/>
      <xs:attribute name="lgmax" default="0"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute_data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fullname">
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="doc">
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
        <xs:element minOccurs="0" ref="gml:data"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="value"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="data" type="xs:string"/>
  <xs:element name="dict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:fullname"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:entry"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:property"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="namespace"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="entry">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="gml:key"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:value"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:property"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="key">
    <xs:complexType>
      <xs:attribute name="val" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="gml:data"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="val" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="examples">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:example"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="example">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:doc"/>
        <xs:element minOccurs="0" ref="gml:example_content"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gml:example_attribute"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="valid" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="example_content" type="xs:string"/>
  <xs:element name="example_attribute">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
